@import "buttons.scss";
// @import "./_grid.css";

.menu {
    display: block;
    box-sizing: border-box;
}

.container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75vh;
    min-height: 0;
    text-align: center;
    margin: 0;
    gap: 1rem;
}

main a {
    color: red;
    
    &:hover {
    text-decoration: underline;
    }
}
