/************************************/
/*                                  */
/*  CléSS - La clef de la réussite  */
/*        © 2024 - rouxarriere      */
/*                                  */
/************************************/

nav,
nav ul{
    align-items: center;
}

nav{
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-wrap: wrap;

    background: #bad2d2;
    padding: 5px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto;
    width: 45%;
    padding: 0;
}

nav li{
    text-align: center;
    color: black;
}

nav p{
    font-size: 4rem;

}
nav a {
    font-size: 2rem;
}
nav p:hover,
nav i:hover {
    color: red;
}
nav p,
nav a{
  color: black;
  margin: 0; /* Added for consistency */
}

